/*   Typography    */
.td-name, td {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Public Sans', sans-serif;
}

/*     Card     */
.card, .card-light {
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 6px 15px 0px rgba(69, 65, 78, 0.1);
  -moz-box-shadow: 2px 6px 15px 0px rgba(69, 65, 78, 0.1);
  box-shadow: 2px 6px 15px 0px rgba(69, 65, 78, 0.1);
  border: 0px;
}

.card .card-header, .card-light .card-header {
  padding: 1rem 1.25rem;
  background-color: transparent;
  border-bottom: 1px solid #ebecec !important;
}

.card .card-header:first-child, .card-light .card-header:first-child {
  border-radius: 0px;
}

.card .card-body, .card-light .card-body {
  padding: 1.25rem;
}

.card .card-footer, .card-light .card-footer {
  background-color: transparent;
  line-height: 30px;
  border-top: 1px solid #ebecec !important;
  font-size: 13px;
}

.card .card-footer hr, .card-light .card-footer hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card.full-height {
  height: calc(100% - 30px);
}

.card-title {
  margin: 0;
  color: #2A2F5B;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
}

.card-title a, .card-title a:hover, .card-title a:focus {
  color: #2A2F5B;
  text-decoration: none;
}

/*----------------------------------------------------------------------------*/

/*     Table    */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}

.table > tbody > tr > td, .table > tbody > tr > th {
  padding: 16px 24px !important;
}

.table > tfoot > tr > td, .table > tfoot > tr > th {
  padding: 12px 24px !important;
}

.table thead th {
  font-size: .95rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 24px !important;
  border-bottom-width: 1px;
  font-weight: 600;
}

.table td, .table th {
  font-size: 1rem;
  border-top-width: 0px;
  border-bottom: 1px solid;
  border-color: #ebedf2 !important;
  vertical-align: middle !important;
}

.table .thead-light th {
  background-color: #f6f9fc;
  color: #8898aa;
  border-color: #ebecec !important;
}

.table .thead-dark th {
  background-color: #1a2035;
  color: #fff;
}

/* table full-width */
.table-full-width {
  margin-left: -15px;
  margin-right: -15px;
}

/* table bordered states */
.table-bordered-bd-black td, .table-bordered-bd-black th {
  border: 1px solid #1a2035 !important;
}

.table-bordered-bd-primary td, .table-bordered-bd-primary th {
  border: 1px solid #1572E8 !important;
}

.table-bordered-bd-secondary td, .table-bordered-bd-secondary th {
  border: 1px solid #6861CE !important;
}

.table-bordered-bd-info td, .table-bordered-bd-info th {
  border: 1px solid #48ABF7 !important;
}

.table-bordered-bd-success td, .table-bordered-bd-success th {
  border: 1px solid #31CE36 !important;
}

.table-bordered-bd-warning td, .table-bordered-bd-warning th {
  border: 1px solid #FFAD46 !important;
}

.table-bordered-bd-danger td, .table-bordered-bd-danger th {
  border: 1px solid #F25961 !important;
}

.table-striped td, .table-striped th {
  border-top: 0 !important;
  border-bottom: 0 !important;
}

/* table-responsive */
.table-responsive {
  width: 100% !important;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.dropdown-item {
  font-size: 13px;
}

/*     Dropdown Search     */
.dropdown-search {
  min-width: 350px;
  padding: 5px 0;
}

.dropdown-search .nav-search .input-group {
  background: transparent !important;
  box-shadow: none !important;
  border: 0 !important;
}

.dropdown-search .nav-search .input-group .form-control {
  color: inherit !important;
}

.dropdown-search .nav-search .input-group .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bfbfbf !important;
}

.dropdown-search .nav-search .input-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #bfbfbf !important;
}

.dropdown-search .nav-search .input-group .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #bfbfbf !important;
}

.dropdown-search .nav-search .input-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #bfbfbf !important;
}

/*     Dropdown    */
.dropdown-menu {
  border: 0px;
  border-radius: 3px;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.15) !important;
  padding-bottom: 5px;
  margin-top: 3px;
}

/*     Pagination     */
.pagination > li > a, .pagination > li:first-child > a, .pagination > li:last-child > a, .pagination > li > span, .pagination > li:first-child > span, .pagination > li:last-child > span {
  border-radius: 100px !important;
  margin: 0 2px;
  color: #777777;
  border-color: #ddd;
}

.pagination > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination.pg-black > li.active > a, .pagination.pg-black > li.active:first-child > a, .pagination.pg-black > li.active:last-child > a, .pagination.pg-black > li.active > span, .pagination.pg-black > li.active:first-child > span, .pagination.pg-black > li.active:last-child > span {
  background: #1a2035;
  border-color: #1a2035;
  color: #ffffff;
}

.pagination.pg-primary > li.active > a, .pagination.pg-primary > li.active:first-child > a, .pagination.pg-primary > li.active:last-child > a, .pagination.pg-primary > li.active > span, .pagination.pg-primary > li.active:first-child > span, .pagination.pg-primary > li.active:last-child > span {
  background: #1572E8;
  border-color: #1572E8;
  color: #ffffff;
}

.pagination.pg-secondary > li.active > a, .pagination.pg-secondary > li.active:first-child > a, .pagination.pg-secondary > li.active:last-child > a, .pagination.pg-secondary > li.active > span, .pagination.pg-secondary > li.active:first-child > span, .pagination.pg-secondary > li.active:last-child > span {
  background: #6861CE;
  border-color: #6861CE;
  color: #ffffff;
}

.pagination.pg-info > li.active > a, .pagination.pg-info > li.active:first-child > a, .pagination.pg-info > li.active:last-child > a, .pagination.pg-info > li.active > span, .pagination.pg-info > li.active:first-child > span, .pagination.pg-info > li.active:last-child > span {
  background: #48ABF7;
  border-color: #48ABF7;
  color: #ffffff;
}

.pagination.pg-success > li.active > a, .pagination.pg-success > li.active:first-child > a, .pagination.pg-success > li.active:last-child > a, .pagination.pg-success > li.active > span, .pagination.pg-success > li.active:first-child > span, .pagination.pg-success > li.active:last-child > span {
  background: #31CE36;
  border-color: #31CE36;
  color: #ffffff;
}

.pagination.pg-warning > li.active > a, .pagination.pg-warning > li.active:first-child > a, .pagination.pg-warning > li.active:last-child > a, .pagination.pg-warning > li.active > span, .pagination.pg-warning > li.active:first-child > span, .pagination.pg-warning > li.active:last-child > span {
  background: #FFAD46;
  border-color: #FFAD46;
  color: #ffffff;
}

.pagination.pg-danger > li.active > a, .pagination.pg-danger > li.active:first-child > a, .pagination.pg-danger > li.active:last-child > a, .pagination.pg-danger > li.active > span, .pagination.pg-danger > li.active:first-child > span, .pagination.pg-danger > li.active:last-child > span {
  background: #F25961;
  border-color: #F25961;
  color: #ffffff;
}

/*     Responsive     */
@media screen and (max-width: 576px) {
  .row-card-no-pd [class*=col-] .card:before {
    width: calc(100% - 30px) !important;
    right: 15px !important;
    height: 1px !important;
  }

  .row-card-no-pd [class*=col-]:first-child .card:before {
    display: none !important;
  }
}

@media screen and (max-width: 992px) {
  .card .card-title {
    font-size: 18px;
  }
}
